<div fxFlex="row" fxLayoutAlign="center center" fxLayoutGap="10px" class="header">
    <button mat-icon-button (click)="sidenav.toggle();">
      <mat-icon>menu</mat-icon>
    </button>

    <span class="spacer">
      <spc-search-bar></spc-search-bar>
    </span>
  </div>
