/* You can add global styles to this file, and also import other style files */
//@import '~@angular/material/prebuilt-themes/purple-green.css';

@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**
@include mat-core();

// Define the default theme (same as the example above).
$explorer-app-primary: mat-palette($mat-indigo);
$explorer-app-accent:  mat-palette($mat-pink, A200, A100, A400);
$explorer-app-theme:   mat-light-theme($explorer-app-primary, $explorer-app-accent);

// Include the default theme styles.
@include angular-material-theme($explorer-app-theme);


// Define an alternate dark theme.
$dark-primary: mat-palette($mat-blue-grey);
$dark-accent:  mat-palette($mat-amber, A200, A100, A400);
$dark-warn:    mat-palette($mat-deep-orange);
$dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

// Include the alternative theme styles inside of a block with a CSS class. You can make this
// CSS class whatever you want. In this example, any component inside of an element with
// `.unicorn-dark-theme` will be affected by this alternate dark theme instead of the default theme.
.unicorn-dark-theme {
  // this sets default dark mode
  /*@at-root body {
    background-color: #3e3939;
  }*/
  @include angular-material-theme($dark-theme);
}



html {
  /* overflow: hidden; */
  height: 100%;
  min-height: 100%;
}

body {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  min-height: 100%;
  /* background: #303030; */
}

* {
  -webkit-font-smoothing: antialased;
  -moz-osx-font-smoothing: antialased;
  font-family: 'Roboto', sans-serif;
}

/* SPACER */
.spacer {
  flex: 1 1 auto;
}

a {
  text-decoration: none;
}
