<div>
  <spc-header [sidenav]="leftSidenav"></spc-header>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #leftSidenav mode="side" opened>
      <spc-side-menu></spc-side-menu>
    </mat-sidenav>
    <mat-sidenav-content [@onMainContentChange]="onSideNavChange ? 'open': 'close'">
      <div class="main_content">
        <div style="padding: 20px">
          <spc-home></spc-home>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
