<!--Handle Search Result-->
<ng-container *ngIf="searched$ | async as s">
  <ng-container *ngIf="s.searchResult">
    PROVIDER DETAIL
    <p>{{s.searchResult | json}}</p>
  </ng-container>
</ng-container>


<!--TODO: Handle Store Loading-->
<ng-container *ngIf="host">
  <mat-card>
      <mat-card-title>{{host?.netAddress}}</mat-card-title>
      <mat-card-subtitle><pre>Public Key:         {{host?.publicKey}}</pre></mat-card-subtitle>
      <mat-card-subtitle><pre>Block First Seen:   {{host?.firstSeen}}</pre></mat-card-subtitle>
      <mat-card-subtitle><pre>Absolute Score:     --Insert Score here--</pre></mat-card-subtitle>
    <h4>Host Settings:</h4>
    <mat-card-content>
      <pre>Accepting Contracts:               {{host?.acceptingContracts ? 'Yes' : 'No'}}</pre>
      <pre>Total Storage:                     {{host?.totalStorage }}</pre>
      <pre>Remaining Storage:                 {{host?.remainingStorage }}</pre>
      <pre>Offered Collateral (GB / Mo):      {{host?.collateralPrice}}</pre>
      <br/>
      <pre>Contract Price:                    {{host?.contractPrice }}</pre>
      <pre>Storage Price (GB / Mo):           {{host?.storagePrice}}</pre>
      <pre>Download Price (1 GB):             {{host?.uploadBandwidthPrice}}</pre>
      <pre>Upload Price (1 GB):               {{host?.downloadBandwidthPrice}}</pre>
      <pre>Version:                           {{host?.version}}</pre>
    </mat-card-content>
    <br/>
    <h4>Metics:</h4>
    <mat-card-content>
      <pre>Latency:               {{host?.latency}}</pre>
      <pre>Revision Number:       {{host?.revisionNumber}}</pre>
      <pre>Sector Size:           {{host?.sectorSize}}</pre>
      <pre>Interaction:           {{host.scoreBreakDown?.interactionadjustment}}</pre>
      <pre>Price:                 {{host.scoreBreakDown?.collateraladjustment?.pricesmultiplier}}</pre>
      <pre>Online:                {{host?.verifed ? 'YES' : 'NO'}}</pre>
      <!--<pre>Latest Scan Time:      {{host['timeStamp'] | date: 'mediumDate'}}</pre>-->
      <pre>Latest Scan Time:      {{host['timeStamp'] * 1000 | date: 'medium'}}</pre>
    </mat-card-content>
    <br/>
    <!--TODO: -->
    <!--<mat-card-content>
      <pre>Scan History Length:   {{host.scanHistory.length}}</pre>
      <pre>Overall Uptime:        {{host.uptime}}</pre>
    </mat-card-content>-->
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="closeView.emit()">BACK</button>
    </mat-card-actions>
  </mat-card>
</ng-container>
