<p>transaction works!</p>

<!--handle route-store data-->
<ng-container *ngIf="txRouteData$ | async as tx">
  <spc-transaction-detail [transaction]="tx"></spc-transaction-detail>
</ng-container>


<!--Remove later, for dev to avoid re-searching-->
<spc-transaction-detail></spc-transaction-detail>
