
BLOCK DETAIL
<!--Handle Search Result-->
<ng-container *ngIf="searched$ | async as s">
  <ng-container *ngIf="s.searchResult">
    <p>{{s.searchResult | json}}</p>
  </ng-container>
</ng-container>


<!--TODO: Handle Store Loading-->
