<div class="center">
  <form [formGroup]="form" (keydown.enter)="onSubmit(form)">
    <mat-form-field appearance="outline" class="search-width">
      <input matInput formControlName="searchStr" placeholder="Search tx, contract, block, provider">
      <mat-icon matSuffix>near_me</mat-icon>
    </mat-form-field>
  </form>
</div>
