<div class="flow mat-elevation-z8">
  <table mat-table [dataSource]="_hosts" matSort [matSortActive]="'netAddress'" [matSortDirection]="'asc'" >
    <ng-container matColumnDef="netAddress">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Announced Address</th>
      <td mat-cell class="cursor" *matCellDef="let h" (click)="hostSelect.emit(h)"> {{h.netAddress}} </td>
    </ng-container>
    <ng-container matColumnDef="usedStorage">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Used Storage (GB)</th>
      <td mat-cell *matCellDef="let h"> {{h.usedStorage}} </td>
    </ng-container>
    <ng-container matColumnDef="remainStorage">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Remaining Storage (GB)</th>
      <td mat-cell *matCellDef="let h"> {{h.remainingStorage}}</td>
    </ng-container>
    <ng-container matColumnDef="totalStorage">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Storage (GB)</th>
      <td mat-cell *matCellDef="let h"> {{h.totalStorage}} </td>
    </ng-container>
    <ng-container matColumnDef="contractPrice">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Contract Price (SCP)</th>
      <td mat-cell *matCellDef="let h"> {{h.contractPrice}} </td>
    </ng-container>
    <ng-container matColumnDef="storagePrice">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Storage Price per/GB/month (SCP)</th>
      <td mat-cell *matCellDef="let h"> {{h.storagePrice}} </td>
    </ng-container>
    <ng-container matColumnDef="collateralPrice">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Offered Collateral per GB/month</th>
      <td mat-cell *matCellDef="let h"> {{h.collateral}} </td>
    </ng-container>
    <ng-container matColumnDef="uploadBandWidthPrice">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Upload Bandwidth price per GB</th>
      <td mat-cell *matCellDef="let h"> {{h.uploadBandwidthPrice}} </td>
    </ng-container>
    <ng-container matColumnDef="downloadBandWidthPrice">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Download Bandwidth price per GB</th>
      <td mat-cell *matCellDef="let h"> {{h.downloadBandwidthPrice}} </td>
    </ng-container>
    <!--TODO: properly calculate firstSeen, uptime, scanhistory-->
    <!--<ng-container matColumnDef="firstSeen">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Running Version First seen (blockheight)</th>
      <td mat-cell *matCellDef="let h"> {{h.firstSeen}} </td>
    </ng-container>
    <ng-container matColumnDef="uptime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Uptime (uptime/totaltime)</th>
      <td mat-cell *matCellDef="let h" matTooltip="what is going on"> {{h.uptime}} </td>
    </ng-container>
    <ng-container matColumnDef="scanHistory">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Successful Scan</th>
      <td mat-cell *matCellDef="let h"> {{h?.scanHistory | runFunction:mostRecentScan | date:'short'}} </td>
    </ng-container>-->
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'offline-host': !row.verified }"></tr>
  </table>
</div>

