.cursor {
  cursor: pointer;
}
  
.flow {
  height: 900px;
  overflow: auto;
}
  
.offline-host {
  background-color: #b55757 !important;
}
  
.mat-row:nth-child(2n+1) {
  background-color: #e4f0ec;
}
  
.mat-row:not(:nth-child(1n+1)) {
  background-color: #ffffff;
}
  

