<ng-container *ngIf="{b: block$ | async, c: consensus$ | async, h: hosts$ | async} as s">
  <ng-container *ngIf="s.b && s.c && s.h">
    <div fxLayout="column">
      <div fxLayout="row" fxLayout.xs="column"
           fxLayoutGap="20px" fxLayoutAlign="start end">
        <mat-card fxFlex="33">
          <mat-card-header>
            <mat-card-title>Height {{s.c?.height}}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-list>
              <mat-list-item>
                <div [spcTimeElapse]="s.b?.timestamp"></div>
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>New Contracts:</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>New Transactions:</mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
        <mat-card fxFlex="33">
          <mat-card-title>Providers</mat-card-title>
          <mat-card-content>
            <mat-list>
              <mat-list-item>Total: {{s.h?.all.length}}</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>Active: {{s.h?.active.length}}</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>Offline: {{s.h?.offline.length}}</mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
        <mat-card fxFlex>
          <mat-card-title>Market</mat-card-title>
          <mat-card-content>
            <mat-list>
              <mat-list-item>SCP-LTC: {{ltcPrice?.last.toFixed(10)}}</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>SCP-BTC: {{ltcPrice?.last.toFixed(10)}}</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>SPC-USD: {{ltcPrice?.converted_last?.usd}}</mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="grid-row" fxLayout="row" fxLayout.xs="column"fxLayoutGap="20px">
        <mat-card fxFlex="33">
          <mat-card-title>Network Storage (TB)</mat-card-title>
          <mat-card-content>
            <mat-list>
              <mat-list-item>Used: {{s.h?.sum?.used}}</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>Remaining: {{s.h?.sum?.remaining}}</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>Total: {{s.h?.sum?.total}}</mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
        <mat-card fxFlex="33">
          <mat-card-title>Network Average (SCP/GB)</mat-card-title>
          <mat-card-content>
            <mat-list>
              <mat-list-item>Contract: {{s.h?.average?.contract}}</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>Storage: {{s.h?.average?.storage}}</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>Bandwidth Upload: {{s.h?.average?.bwUpload}}</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>Bandwidth Download: {{s.h?.average?.bwDownload}}</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>Collateral: {{s.h?.average?.collateral}}</mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
        <mat-card fxFlex>
          <mat-card-title>Luxor Pool</mat-card-title>
          <ng-container *ngIf="minerStatus">
            <mat-card-content>
              <mat-list>
                <mat-list-item>HashRate-TH {{minerStatus.hashrate / 1000000000000 | number: '1.2-2'}}</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>Difficulty-PH     {{minerStatus.difficulty / 1000000000000000 | number: '1.2-2'}}</mat-list-item>
              </mat-list>
            </mat-card-content>
          </ng-container>
        </mat-card>
      </div>
    </div>

  </ng-container>
</ng-container>




