<mat-card class="no-pad" *ngIf="hosts$ | async as hosts">
  <!--<mat-card-title>{{hostDetail ? 'Metrics' : 'Providers'}}</mat-card-title>-->
  <div>
    <ng-container *ngIf="!hostDetail">
      <spc-provider-list [hosts]="hosts?.all" (hostSelect)="hostDetail=$event"></spc-provider-list>
    </ng-container>
    <ng-container *ngIf="hostDetail">
      <spc-provider-detail [host]="hostDetail" (closeView)="hostDetail=null"></spc-provider-detail>
    </ng-container>
  </div>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="exportToCSV(hosts?.all)">Export CSV</button>
  </mat-card-actions>
</mat-card>
