<ng-container *ngIf="transaction as tx">
</ng-container>


<mat-card>
  <mat-card-header>
    <mat-card-title>SiaPrime Transaction</mat-card-title>
    <mat-card-subtitle>{{tx.id}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item>Sender Address: {{tx.siacoininputoutputs[0].unlockhash}}</mat-list-item>
      <mat-list-item>Fee {{tx.siacoininputoutputs[0].value}}</mat-list-item>
      <mat-divider></mat-divider>

    </mat-list>
  </mat-card-content>
</mat-card>
